<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{cms/layouts/app}">
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-6">content</div>
        <div class="col-sm-6">content</div>
    </div>
    <hello></hello>
    <form action="#" th:action="@{/cms/furniture}" method="post" enctype="multipart/form-data">
        <label>Title</label>
        <input id="title" name="title" type="text">
        <label>Description</label>
        <textarea id="description" name="description"></textarea>
        <label>Cover image</label>
        <input id="coverImage" name="coverImage" type="file">
        <label>Gallery</label>
        <input id="gallery" name="gallery" type="file" multiple>
        <button type="submit">Submit</button>
    </form>
</div>
</html>