$body-color: #8c8c8c;
$headings-color: #383838;



$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$grid-gutter-width: 30px;


$font-family-sans-serif:      "Roboto", "Helvetica", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
// stylelint-enable value-keyword-case

$font-size-base:              0.875rem;
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.7 !default;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;


$navbar-toggler-padding-y:          10px;
$navbar-toggler-padding-x:          10px;
$navbar-toggler-font-size:          $font-size-lg;
$navbar-toggler-border-radius:      0;
