.avia-offers{
  position: relative;
  padding-top: 75px;
  padding-bottom: 76px;

  .offers-title{
    color: #333;
  }

  .tour-content-wrap{
    background-color: #f3f3f3;
  }

  .tour-info-wrap{
    margin-bottom: 14px;
  }

  .tour-rating{
    margin-bottom: 14px;
  }
}