<div class="avia-offers" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h3 class="offers-title">
            <span>
                <i class="icon">
                    <img th:src="@{/img/avia-offers.png}" alt="">
                </i>
                avia offers
            </span>
        </h3>
        <div class="offers-slider">
            <div class="item">
                <div class="thumbnail">
                    <a href="#" target="_blank">
                        <img class="img-fluid" th:src="@{/img/shutterstock_147744218-700x450.jpg}" alt="">
                    </a>
                </div>
                <div class="tour-content-wrap">
                    <div class="tour-top">
                        <h3 class="tour-title">
                            <a href="#" target="_blank">Milan <i class="fa fa-exchange"></i> Chisinau</a>
                        </h3>
                        <div class="tour-info-wrap">
                            <div class="tour-info">
                                <i class="fa fa-calendar"></i>20.08.2018 - 21.08.2019
                            </div>
                        </div>
                        <div class="tour-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="tour-price-wrap">
		    			<span class="tour-price">
                                <span class="head">from</span>
                            <span class="tail">300 $</span>
                                <span class="head">return</span>
		    			</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>