<header xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="logo">
            <a href="#">
                <img th:src="@{/img/airservice1.svg}" width="150" height="81" alt="">
            </a>
        </div>
        <nav class="navbar navbar-expand-lg">

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars"
                    aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbars">
                <div class="main-menu">
                    <ul id="navigation">
                        <li class="current-page-item"><a href="#">Home</a></li>
                        <li class=""><a href="#">Tourism</a></li>
                        <li class=""><a href="#">Contact</a></li>
                    </ul>
                    <div class="traveltour-navigation-slide-bar" id="traveltour-navigation-slide-bar"></div>
                </div>

                <div class="phone-header">
                    Avia tickets
                    <strong>phone</strong>
                </div>

                <div class="phone-header">
                    Tourism
                    <strong>phone</strong>
                </div>

                <div class="navbar-mobile">
                    <button class="navbar-toggler collapsed close-btn" type="button" data-toggle="collapse"
                            data-target="#navbars" aria-controls="navbars" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1"
                             xmlns="http://www.w3.org/2000/svg">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
                               stroke-linejoin="round">
                                <g class="close-icon-stoke" transform="translate(-1583.000000, -1823.000000)"
                                   stroke="#D8D8D8" stroke-width="2">
                                    <g transform="translate(320.000000, 643.000000)">
                                        <g transform="translate(507.000000, 1012.000000)">
                                            <g transform="translate(0.000000, 145.000000)">
                                                <g transform="translate(757.000000, 24.000000)">
                                                    <path d="M0,0 L16,16"></path>
                                                    <path d="M16,0 L0,16"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                    <ul class="lang">
                        <li class="current-page-item"><a
                                href="#"><span>Ro</span></a>
                        </li>
                        <li class=""><a
                                href="#"><span>Ru</span></a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
</header>