<div class="partners-wrapper" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h5>partners</h5>

        <div class="partner-list justify-content-around d-flex flex-wrap">
            <img th:src="@{/img/airmoldova.png}" alt="">
            <img th:src="@{/img/flyone.png}" alt="">
            <img th:src="@{/img/lufthansa.png}" alt="">
            <img th:src="@{/img/turkishairlines.png}" alt="">
            <img th:src="@{/img/wizz.png}" alt="">
        </div>
    </div>
</div>